.subtitulo{
    width: 471px;
    font-size: 4rem;
    height: 200px;
}
.container_inicio{
    display: flex;
    flex-direction: column;
    padding-left: 96px;
}
.computador{
    width: 450px;
    
}
.studante{
    width: 257px;
    height: 400px;
    
}
.conteudo{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.cards{
    align-items: center;
    display: flex;
    width: 400px;
    height: 200px;
    flex-direction: row;
    justify-content: space-around;
    background-color:#3347B0;
    box-sizing: border-box;
    border: 1px solid #000000;
    box-shadow: 12px 12px 4px rgba(51, 71, 176, 0.5);
}
#icone__curso{
    color: #ffff;
    font-size: 64px;
    height: 76px;
    
}
.redes{
    color: #ffff;
    font-size: 64px; 
}